@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Master Styles */

body {
    margin: 0;
    background-color: #28282B;
    box-sizing: border-box;
}

h1,h2,p {
    color: #fff;
}

/* Nav Styles */

.navbar-container {
    display: flex;
    justify-content:center;
    padding: 32px;
    background-color: #EC5800;
}

.navbar-title {
    display: flex;
    font-size: 1.7rem;
    letter-spacing: 1px;
}

.navbar-title > div {
    margin-right: 5rem;
}

.navbar-menu {
    display: flex;
}

.navbar-menu > div {
    font-size: 1.2rem;
    margin-top: 5px;
    margin-right: 20px;
    text-transform: uppercase;
}

.navbar-menu {
    height: 20px;
}

.navbar-link a {
    text-decoration: none;
    color: black;
}

.navbar-link a:hover {
    color: white;
    transition: 0.5s;
}

/* Main Style */
.main-container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 0 auto;
}

.main-content {
    box-sizing: inherit;
}

.main-card {
    background-color: #EC5800;
    height: auto;
    width: 100%;
    margin: 2rem 0;
    border-radius: 20px;
    box-shadow: rgba(254, 254, 255, 0.4) 0px 7px 29px 0px;
    /* transition: all 1s ease; */
}

.main-card-form {
    font-size: 18px;
    text-align: left;
    margin: 0 2rem;
    padding: 0.5rem 0 2rem 0;
}

.main-card-form > h2 {
    font-size: 26px;
}

.main-card-form > div > h4 {
    font-size: 22px;
}

.choice-one {
    display: grid;
    grid-template-rows: 40px 40px;
    text-align: left;
}

.cheese-option {
    padding-bottom: 1rem;
    padding-left: .5rem;
}

.choice-two {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.amount-option {
    padding-bottom: 1rem;
    padding-left: .5rem;
}

.choice-three-meat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.choice-three-non {
    display: flex;
    justify-content: start;
}

.choice-three-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 2rem;
}

.choice-three-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 2rem;
}


/* footer styles */

.footer-container {
    display: flex;
    justify-content:center;
    padding: 20px;
    background-color: #EC5800;
}

.footer-end p{
    color: black;
    font-size: 1.2rem;
}

